.acuna-card {
    background-color: #423628;
    border-radius: 10px;
    padding: 30px 10px;
}

.acuna-sales-title {
    color: #ff8400;
    font-size: 24px;
    margin-bottom: 20px;
}

.acuna-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.acuna-form-control {
    width: 100%;
    height: 46px;
    background-color: #ffffff;
    border: 1px solid #ff7300;
    border-radius: 5px;
    color: #331a00;
    padding: 0 20px;
    font-size: 18px;
}

.acuna-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.acuna-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #ffae00;
    font-weight: 700;
}

.acuna-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.acuna-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #ffae00;
}

.acuna-sales-table tbody tr:hover>td {
    background-color: #ad8d6f;
}

.acuna-sales-table tbody tr:nth-child(odd) {
    background-color: #1d1812;
}

.acuna-red-btn-container {
    display: flex;
    justify-content: center;
}

.show576 {
    display: none;
}

.show992 {
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }

    .acuna-card {
        padding: 35px;
    }

    .acuna-sales-table tbody tr {
        height: 55px;
    }

    .acuna-sales-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}